.nav {
    display: flex;
    justify-content: space-between;
}
.hero-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1400px;

}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}